*{
/*margin: 0;
padding: 0;*/
}

ul li{
    list-style:none;
    display:block;
    margin: 0;
    padding:2%;
    float:left;
}
ul li ul li{
    list-style:none;
    display:block;
    margin: 0;
    padding:2%;
    float: left;
    clear: both;
}