*{
margin: 0;
padding: 0;
}
.contenedor{
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
.encabezado{
    background-color: #3E617E;
    display: block;
    height: 15em;
    width: 100%;
    padding-top:5em;
    text-align: center;
    color:white;
    font-size: larger;
}
.nav{
    justify-content: center;
    display:contents;
    margin-top: 2%;
}
.nav ul li a{
    text-decoration: none;
    font-family:  "Gill Sans", sans-serif;
    font-size: large;
    padding-top:1rem;
    color:black;
}
ul li{
    list-style: none;
    padding: 2%;
    float: left;
    padding-top:1rem;
    padding-right: 8%;
}
ul li:hover>ul{
    display: block;
}
.submenu{
    display:none;
    position:absolute;
    float: left;
}
.submenu li{
    clear:both;
}